<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TENET</title>
<link rel="icon" type="image/png" href="/static/images/icon.png">
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<!-- ================= NavBar ================= -->
<div class="sidebar">
    <h4>TENET</h4>
    <a href="#">Dashboard</a>
    <a href="/info">Info</a>
    <a href="/alerts">Alerts & Logging</a>
    <a href="/agents">Live Agents</a>
    <a href="/tasks">Tasks</a>
    <a href="/uploads">Uploaded Files</a>
    <a href="/plugins">Plugins</a>
    <a href="/chat">AI Assistant</a>
    <a href="#create-agent">Create Agent</a>
    <a href="#create-revshell">Create RevShell</a>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
</div>

<!-- ================= MAIN ================= -->
<div class="main">
    {% include 'chat-widget.html' %}
    <!-- ================= LIVE AGENTS ================= -->
    <div id="live-agents" class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="section-title">Recent Live Agents</div>
            <div id="totalAgents" class="section-title">Total : 0</div>
        </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>ID</th>
                        <th>Hostname</th>
                        <th>User</th>
                        <th>OS</th>
                        <th>IP</th>
                        <th>Last Seen</th>
                    </tr>
                </thead>
                <tbody id="agentsBody"></tbody>
            </table>
        </div>
    </div>

    <!-- ================= CREATE AGENT ================= -->
    <div id="create-agent" class="card mb-4">
        <div class="card-body">
            <div class="section-title mb-3">Create Agent</div>
            <form id="createAgentForm">
                <div class="row g-2">
                    <div class="col-md-2">
                        <input class="form-control" id="newAgentId" placeholder="Agent ID" required>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="newAgentGroup" placeholder="Agent Group" required>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="newUsername" placeholder="Username" required>
                    </div>
                    <div class="col-md-2">
                        <input type="password" class="form-control" id="newPassword" placeholder="Password" required>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-success w-100">Create</button>
                    </div>
                </div>
            </form>

            <!-- Message output -->
            <div id="createAgentMessage" class="mt-3"></div>
        </div>
    </div>

     <!-- ================= CREATE STAGER ================= -->

    <div id="generate-stager-token" class="card mb-4">
    <div class="card-body">
        <div class="section-title mb-3">Generate Stager Token</div>

        <form id="generateStagerTokenForm">
            <div class="row g-2">

                <div class="col-md-3">
                    <input
                        class="form-control"
                        id="stagerAgentId"
                        placeholder="Agent ID"
                        required
                    >
                </div>

                <div class="col-md-3">
                    <input
                        type="number"
                        class="form-control"
                        id="stagerValidMinutes"
                        placeholder="Valid Minutes"
                        value="60"
                        min="1"
                    >
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary w-100">
                        Generate
                    </button>
                </div>

            </div>
        </form>

        <!-- Message output -->
        <div id="generateStagerMessage" class="mt-3"></div>

        <!-- Generated token output -->
        <div id="stagerTokenResult" class="mt-3" style="display:none;">
            <div class="alert alert-success">

                <h6>Generated Stager Command</h6>

                <div class="mb-2">
                    <strong>Token:</strong>
                    <code id="generatedToken"></code>
                </div>

                <div class="mb-2">
                    <strong>Command:</strong>
                         <pre class="mb-0">
                             <code id="generatedStagerCommand"></code>
                        </pre>
                </div>

                </div>
            </div>
        </div>
    </div>

     <!-- ================= CREATE RevShell ================= -->
       <div id="create-revshell" class="card mb-4"> <!--create-agent-->
        <div class="card-body">
            <div class="section-title mb-3">Create RevShell</div>
            <form id="createRevShellForm">
                <div class="row g-2"> <!--createAgentForm-->
                    <div class="col-md-2">
                        <input class="form-control" id="revAgentId" placeholder="Agent ID" required>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="Port" placeholder="Port" required>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" id="hostOs" required>
                            <option value="">Host OS</option>
                            <option value="windows">windows</option>
                             <option value="linux">linux</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" id="guestOs" required>
                            <option value="">Guest OS</option>
                            <option value="windows">windows</option>
                             <option value="linux">linux</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success w-100">Create</button>
                    </div>

                </div>
            </form>

            <!-- Message output -->
            <div id="createRevShellMessage" class="mt-3"></div>
        </div>
    </div>
    <!-- ================= SEND TASK ================= -->
    <div id="send-task" class="card mb-4">
        <div class="card-body">
            <div class="section-title mb-3">Send Task</div>
            <form id="taskForm">
                <div class="row g-2">
                    <div class="col-md-2">
                        <input class="form-control" id="agentId" placeholder="Agent ID" >
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id="agentGroup" placeholder="Agent Group" >
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" id="taskType" required>
                            <option value="">Task Type</option>
                            <option value="shell">Shell</option>
                            <option value="download">Download</option>
                            <option value="upload">Upload</option>
                            <option value="sleep">Sleep</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" id="taskCommand" placeholder="Command / URL / Path / Min">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" id="taskExtra" placeholder="Save as / Max">
                    </div>
                    <div class="col-md-3">
                        <input type="datetime-local" class="form-control" id="taskScheduledAt" placeholder="Leave blank to execute immediately">
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="recurringEveryInput" placeholder="Recurring every (minutes)" min="1"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary w-100">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- ================= TASKS ================= -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="section-title">Recent Tasks</div>
            <div id="totalTasks" class="section-title">Total : 0</div>
        </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Agent</th>
                        <th>Task</th>
                        <th>Output</th>
                        <th>Scheduled At</th>
                        <th>Executed At</th>
                        <th>Recurring every (mins)</th>
                        <th>UUID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tasksBody"></tbody>
            </table>
        </div>
    </div>


    <!-- ================= UPLOADED FILES ================= -->
    <div id="uploaded-files" class="card mb-4">
        <div class="card-body">
            <div class="section-title mb-3">Uploaded Files</div>
            <ul class="list-group list-group-flush">
                {% for file in files %}
                <li class="list-group-item">
                    <a href="/uploads/{{ file }}" class="file-link" target="_blank">{{ file }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<script>
    window.API_KEY = "{{ api_key }}";
</script>

<script>
const agentId = document.getElementById("agentId");
const agentGroup = document.getElementById("agentGroup");

agentId.addEventListener("input", () => {
    agentGroup.disabled = agentId.value.trim() !== "";
});

agentGroup.addEventListener("input", () => {
    agentId.disabled = agentGroup.value.trim() !== "";
});
</script>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>